body
{
background-color:#ffffff;
color:black;
font-family: 'Julius Sans One', sans-serif;
font:size:20px;
}
#container
{
width:900px;
margin-left:auto;
margin-right:auto;
font-family: 'Julius Sans One', sans-serif;
}
.rectangle
{
width:960px;
margin:20px;
text-align:center;
color:#dddddd;
}
.square
{
width: 900px;
padding:25px;
}
#logo
{
font-size:120px;
width:870px;
text-align:center;
color:#dddddd;
padding:15px
}
.tile1
{
margin:10px;
width:280px;
height:280px;
background-image:url(str1.jpg);
float:left;
color:#ffffff;
transition: ease-in-out 1500ms;
}
.tile1:hover
{
background-image:url(str4.jpg); 
}
.tile2
{
margin:10px;
width:280px;
height:280px;
background-image:url(str3.jpg);
float:left;
color:#ffffff;
transition: ease-in-out 1500ms;   
}
.tile2:hover
{
background-image:url(str5.jpg);
}
.tile3
{
margin:10px;
width:280px;
height:280px;
background-image:url(str2.jpg);
float:left;
color:#ffffff;
transition: ease-in-out 1500ms;    
}
.tile3:hover
{
background-image:url(str6.jpg);
}
.stopa
{
color:#dddddd;
font-size:20px;
text-align:center;
}
#zegar
{
color:#dddddd;
font-size:20px;
text-align:center;
}
#footer
{
color:#dddddd;
font-size:20px;
text-align:center;
}
a.tilelink
{
color:#ffffff;
text-decoration:none;
display:block;
width:280px;
height:280px;
}
a.sociallink
{
color:#ffffff;
text-decoration:none;
display:block;
width:900px;
heiht:25px;
}
a.tilelinklogo
{
color:#dddddd;
text-decoration:none;
}
